*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
  /* ================scrollbar style */
  ::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #CEB25F;
    border-radius: 10px;
    max-height: 30px;
}
::-webkit-scrollbar-button{
    height: 0;
}
@keyframes animation_html{
    from{ opacity: .3;}
    to{opacity: 1;}
}
html{
    animation: animation_html 2s;
    scroll-behavior: smooth;
    font: status-bar;
    font-family: monospace;
    color: rgb(248, 237, 226);
}
body{
    background-color: rgb(66, 64, 64);
    font-weight: 500;
    overflow-x: hidden;  
}
.lightmode{
    background-color: #c7a95634;
    color: rgba(66, 66, 66, 0.685);
}
.header_lightmode{
    background-color: #eee6d171;
}
  /*============ header */

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: rgba(66, 64, 64, 0.404);
    backdrop-filter: blur(3px);
    transition-duration: 2000ms;
}
@keyframes header_animation{
    from{ height: 90px;}
    to{ height: 60px;}
}
.header_animation{
    animation:header_animation 2s ;
    height: 60px;
    transition-duration: 2000ms;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.header{
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   padding-top: 10px;
}
.header ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-left: 150px;
}
.header ul li{
    margin-left: 50px;
    transition: .5s;
    position: relative;
}
a{
    text-decoration: none;
    color: rgb(248, 237, 226);
    font-family: monospace;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    transition: .5s;
}
.a_animation{
    font-size: 15px;
}
a:hover{
    color: #CEB25F;
}
.switch_color{
    color: rgba(66, 66, 66, 0.685);
}
.active_nav{
    color: #CEB25F;
    border-bottom: solid 2px #CEB25F;
}
.fa-chevron-down{
    margin-left: 2px;
}
li:hover .fa-chevron-down{
    transform: rotate(-180deg);
 }
header .social{
    margin-right: 30px;
}
i{
    margin: 0 7px;
    transition: .5s;
}
i:hover{
    color: #CEB25F;
    transform: scale(1.2) translateY(-3px);
    transition: .5s;
}
.switch_userIcon{
    color: #CEB25F;
}
img{
    width: 60px;
    height: 60px;
    transition-duration: 2000ms;
}
@keyframes img_animation{
    from{width: 60px; height: 60px;}
    to{width: 40px; height: 40px;}
}
.img_animation{
    width: 40px;
    height: 40px;
    animation:img_animation 1s ;
}
/* ==============dropdown sections */

#product_dropdown,#service_dropdown{
    transform: scaleY(0);
    padding-top: 15px;
    transition: .5s;
}
#service_dropdown_ul,#product_dropdown_ul,#BG_service_dropdown_ul, #BG_product_dropdown_ul{
    position: absolute;
    margin-left: -15px;
    display: block;
    padding: 10px 20px 20px 20px;
    background-color: rgba(66, 64, 64, 0.404);
    border: 2px solid #CEB25F;
}
#product_dropdown_ul{
    margin-left: 0px;
}
#service_dropdown_ul li, #product_dropdown_ul li, #BG_service_dropdown_ul li,#BG_product_dropdown_ul li{
    margin-left:0;
    padding: 10px 10px 3px 1px;
    border-bottom: solid 1px rgb(248, 237, 226);
}
#service_dropdown_ul li:hover, #product_dropdown_ul li:hover{
    transform: scale(1);
    border-color:#CEB25F  ;
}
#service_dropdown_ul a,#product_dropdown_ul a{
  letter-spacing: 1px;
  font-family: monospace;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}
header ul :nth-child(2):hover #service_dropdown,header ul :nth-child(3):hover #product_dropdown{
    transform: scaleY(1);
}

 /*========= burger menu icon */

 .burgerIcon{
     display: none;
     position: fixed;
     right: 30px;
     top: 30px;
     width: 35px;
     z-index: 10;
     transition: 1s;
 }
 .burgerIcon_animation{
     top:25px ;
 }
.line{
    width: 100%;
    height: 5px;
    background-color:rgb(248, 237, 226);
    margin-bottom: 6px;
    border-radius: 8px;
    transition: ease-in-out 1s;
}
.switch_line{
    background-color:rgba(66, 66, 66, 0.685);
}
.change .line{
    transition: ease-in-out 1s;
    background-color:#CEB25F;
}
 .change .line2{
     transform: translateX(50px);
    opacity: 0;
}
 .change .line1{
    transform: rotate(-45deg) translate(2px,7px);
}
.change .line3{
    transform: rotate(45deg) translate(-8px,-18px) ;
}
 /* ============= burger menu */

.burger_menu{
     position: fixed;
     top: 0;
     right: -55%;
     width: 55%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-top: 100px;
     background-color: rgb(66, 64, 64);
     backdrop-filter: blur(30px);
     border-left: 2px solid #CEB25F;
     transition: ease-in-out .5s;
     z-index: 9;
}
.burger_menu_lightmode{
    background-color: #eee6d1d0;
}
.move_burger_menu{
    right: 0;
    transition: ease-in-out .5s;
}
#burger_menu a{
    padding: 10px 0;
    font-size: 17px;
    color: #CEB25F;
    transition: .3s;
}
.burger_soc i{
    margin: 180px 10px 0;
    font-size: 22px;
    color: #CEB25F;
    transition: .3s;
}
.BG_product_dropdown, .BG_service_dropdown{
    padding: 0;
    transform: scaleY(0);
    transition: .5s; 
}
.BG_service_dropdown{
    margin-left: -20px;
}
#burger_menu ul{
    list-style: none;
    backdrop-filter: blur(10px);
    background-color: rgba(66, 64, 64, 0.808);
    margin-top: 10px;
}
.burger_dropdown{
    transform: scaleY(1);
    transition: .5s;
}
.burger_arrow_rotate{
    transform: rotate(-180deg);
}
      /*=================== section */
.section_user{
    width: 90%;
    height: 90%;
    position: fixed;
    top: 90px;
    bottom: 100px;
    transition: .5s;
    z-index: 9;
    transform-origin: top;
    transform: scaleY(0);
   }
   @keyframes user_animation{
       from{opacity: 0; transform: scaleY(0); margin-top: -50px;}
       to{ opacity: 1; transform: scaleY(1);margin-top: 0;}
   }
.switch_user_section{
    transform: scaleY(1);
    transition: .5s;
}
.user_info{
    width: 30%;
    position: fixed;
    top: 0;
    right: 0px;
    padding: 20px;
    font-family: monospace;
    font-weight: 300;
    background-color: rgba(66, 64, 64, 0.404);
    color: rgb(248, 237, 226);
    border-radius: 10px;
    border: 2px solid #CEB25F;
    box-shadow: 5px 2px 14px -2px #000000;
    overflow: hidden;
    transition: ease-in-out;
}
.user_info h2{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
}
.user_info h4{
    margin-top: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(248, 237, 226);
}
.user_info  span{
    font-family: monospace;
    padding-left: 7px;
    letter-spacing: 0;
}
#reset{
    margin-left: 70px;
    color: rgb(248, 237, 226);
}
 /* ===============banner div &image */
#main{
    display: flex;
}
.main{
    background-image: url(./images/banner.img.png);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    height: 560px;
    width: 100%;
}
#aside{
    margin-top: 250px;
    transition: ease-in-out 1s;
}
/*////================= form  */
form{
    width: 280px;
    display: flex;
    flex-direction: column;
    color: rgba(66, 66, 66, 0.685);
    color: black;
    font-family: monospace;
}
input{
    all: unset;
    background-color: transparent;
    padding:5px 0;
    font-size: 15px;
    letter-spacing: 0;
    width:100%;
}
label{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 20px;
    border-bottom: 1px solid rgba(66, 66, 66, 0.685);
}
button{
    width:60%;
    margin-top: 30px;
    padding: 3px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 3px;
    border: 2px solid #CEB25F;
    border-radius: 30px;
    color: rgba(66, 66, 66, 0.685);
    color: black;
    background-color: transparent;
    transition: all 0.5s;
    cursor: pointer;
}
button:hover{
    letter-spacing: 4px;
    transition: all .5s;
    color:#ddd7c5;
    font-weight: 500;
    background-color: #CEB25F;
    transform: translateY(-3px);
}
/* ----------------banner text ============*/

.banner_text h1 {
    margin: auto;
    width: 70%;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 90px;
    color: #CEB25F;
}
/* ==================organic section */

.organic_section{
   margin: 100px 0 70px;
   display: flex;
   align-items: center;
}
.organic_content{
    width: 55%;
}
.organic_content p{
    margin: 30px 0;
    font: status-bar;
}
.organic_content ul{
    margin-left: 30px;
    padding-top: 20px;
    font: status-bar;
}
.organic_content h4{
    font-size: 21px;
}
.organic_content h2{
    font-size: 30px;
}
@keyframes organic_img_animation{
    from{margin-top: 300px;}
    to{margin-top: 0;}
}
.organic_img{
    width: 45%;
    margin-top: 300px;
    transition: .5s;
}
.organic_img_animation{
    margin-top: 0;
    animation: organic_img_animation 1s;
}
.organic_img:hover{
    transform: scale(1.3);
    transition: 1s;
}
.organic_img img{
    width: 100%;
    height: 100%;
}

/* ======================= services */

.services{
   font: status-bar;
   font-size: 15px; 
   padding-top: 50px; 
}
.service_header h2{
    font-weight: 500;
    font-size: 17px;
    line-height: 50px;
    letter-spacing: 3px;
    margin-top: 30px;
    border-bottom: solid 1px #CEB25F;
}
.service_content{
    display: flex;
    align-items: flex-end;
    padding: 50px 0;
    margin-top: 300px;
    filter: saturate(.3);
    opacity: .3;
    transition: linear 1s;
}
.img{
  overflow: hidden; 
  width: 270px;
  height: 270px;
  padding: 10px;
  border: 1px solid #CEB25F;
}
.img img{
    width: 250px;
    height: 250px;
}
.img img:hover{
    transform: scale(1.2);
}
.service_text{
    width: 60%;
    margin-left: 70px;
}
.service_text h3{
    padding-bottom: 20px;
    font-weight: 400;
}
.service_text button{
    width: 25%;
    font-weight: 400;
    background-color:#CEB25F;
    color: rgb(248, 237, 226);
}

/* =================product section */
.products{
    padding-top: 50px; 
}
.product_section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font: status-bar;
}
.product_header h2{
    font: status-bar;
    font-weight: 500;
    font-size: 17px;
    line-height: 50px;
    letter-spacing: 3px;
    margin: 30px 0;
    border-bottom: solid 1px #CEB25F;
}
.product_content{
    width: 27%;
    text-align: center;
    border: solid 1px #CEB25F ;
    padding: 20px 20px 20px;
    margin-bottom: 50px;
    margin-top: 300px;
    filter: saturate(.3);
    opacity: .3;
    transition: linear 1s;
}
.product_content:hover{
    box-shadow: rgb(211, 212, 212) 0px 20px 30px -10px;
    transition: .5s;
}
.switch_product_content:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.product_content h2{
    margin: 20px 0;
    letter-spacing: 3px;
    font-size: 21px;
}
.product_button{
    color: rgb(248, 237, 226);
}
.switch_product_button{
    color: rgba(66, 66, 66, 0.685);
}
.product_img{
    overflow: hidden;
}
.product_img img{
    width: 100%;
    height: 250px;
}
.product_img img:hover{
    transform: scale(1.2);
}

/*===================== FAQ section */

#FAQ_div{
    padding-top: 180px;
    transition: ease-in-out 1s;
}
.FAQ{
   margin: 300px auto 0 auto;
    transition: ease-in-out 2s;
    background-color: #CEB25F;
    border: .5px solid #CEB25F;
    box-shadow: 5px 2px 14px -2px #000000;
    transition: linear 1s;
}
   /*===================== accordion */

.accordion {
    background-color: #f3eddc;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    font-size: 17px;
    word-spacing: 7px;
    border: none;
    outline: none;
    transition: 0.5s;
    border-radius:0;
    margin-top: 0;
    border: .2px solid #CEB25F;
  }
  .active, .accordion:hover {
    background-color: #CEB25F;
    color: #444;
    font-size: 17px;
    font-weight: 400;
  }
  .panel {
    position: relative;
    display: flex;
    justify-content:center;
    max-height: 0;
    line-height: 80px;
    text-align: center;
    background-color: #f0eadd;
    color: #444;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .del_QS{
     all: unset;
     position: absolute;
     right: 50px;
     font-size: 30px;
  }
  .del_QS:hover{
      all: unset;
      position: absolute;
     right: 50px;
     font-size: 40px;
     transition: .3s;
  }
    /*=============== poster text */

  .poster{
    padding: 70px 0 30px;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    line-height: 50px;
    letter-spacing: 3px;
    word-spacing: 10px;
    color: rgb(248, 237, 226);
}
.poster_span{
    font-size: 45px;
    color: #CEB25F;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px black;
}

 /* ================contact section */

 .contact{
     width: 100%;
     background-color: #d3b762;
     padding: 60px 10px;
     transition: 1s;
 }
 .contact_section{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .contact:hover{
    box-shadow: 5px 2px 14px -2px #000000;
 }
 .contact_info{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
 }
 .contact_info h2{
     width: 250px;
     padding: 5px;
     margin-bottom: 20px;
     color: rgba(59, 59, 59, 0.726);
     font-size: 18px;
     font-weight: 600;
     border-bottom: solid 1px rgba(59, 59, 59, 0.726) ;
 }
 .contact_info h5{
     color: rgba(59, 59, 59, 0.726);
     font-size: 15px;
     font-weight: 300;
     margin-left: -10px;
     padding: 5px 0;
 }
 .contact_info i{
   margin-right: 10px;
   color: rgba(59, 59, 59, 0.726);
 }
 .location{
     filter: grayscale(70%);
     margin-top: 25px;
 }
 .location:hover{
     filter:  drop-shadow(5px 5px 5px rgb(92, 92, 92));
 }
  /*================== footer */
  footer{
      width: 100%;
      height: 100px;
      text-align: center;
      background-color: #CEB25F;
      border-top: 1px solid rgb(54, 50, 50) ;
  }
  .footer{
      padding: 20px 0;
      color: rgba(66, 66, 66, 0.685);
      font-size: 12px;
      font-weight: 700;
  }
 footer .social{
    margin-top: 20px;
}
footer .social i{
    font-size: 20px;
    padding: 0 ;
    color: rgba(66, 66, 66, 0.685);
}
 footer .social i:hover{
    color: rgb(54, 50, 50);
}
   /*======================== back to top button */
   @keyframes backToTop_animation{
       from{ transform: scale(0); bottom: -50px;}
       to{transform: scale(1); bottom: 30px;}
   }
   @keyframes move_backToTop{
       from{opacity:.7; transform: translateY(-20px);}
       to{ opacity:.3; transform: translateY(0);}
   }
  .backToTop{
   display: none;
   position: fixed;
   bottom: 30px;
   right: 30px;
   opacity:.3;
   transition: ease-in-out .5s;
   animation: backToTop_animation 1s;
   transition: 2s;
  }
  .backToTop i{
    font-size: 30px;
  }
  .backToTop i:hover{
    opacity: 1;
    transition: ease-in-out .5s;
    color: black;
  }
  .move_backToTop{
      animation:move_backToTop 2s infinite ;
      animation-timing-function: linear;
      animation-direction: alternate;
      transition: 2s;
  }

  /*================ scroll animation */

  @keyframes animation_fadeInUp{
    from{margin-top: 300px;filter: saturate(.3); opacity: .3;}
    to{margin-top: 0; filter: saturate(1); opacity: 1;}
}
.fadeInup{
    margin-top: 0;
    filter: saturate(1);
    opacity: 1;
    animation: animation_fadeInUp 1s ;
    transition: 1s;
}
   /*================= responsive--- media queries */

 @media only screen and (min-width:2560px){
    .container{
        max-width:2000px ;
    }
    header{
        height: 120px;
    }
    .header a{
        font-size: 25px;
    }
    .section_user{
        width: 80%;
        top: 120px;
    }
    form{
        width: 500px;
    }
    label{
        font-size: 20px;
    }
    .product_content{
        height: 550px;
    }
    .product_img img{
        width: 400px;
        height: 300px;
    }
    .organic_img{
        margin-top: 30px;
    }
    .organic_content p{
        font-size: 20px;
    }
    .organic_section h2{
        font-size: 40px;
    }
    .banner_text h1{
        font-size: 45px;
        margin-top: 50px;
    }
}
 @media only screen and (max-width:1024px){
    .container{
        max-width:950px;
    }
    .header ul{
        margin-left: 100px;
    }
    .header ul li{
        margin-left: 30px;
    }
    #reset{
       margin-left: 40px;
    }
    #aside{
        margin-top: 200px;
    }
    label{
        margin-top: 10px;
    }
    .banner_text h1{
        line-height: 60px;
    }
    .main{
        height: 450px;
    }
    .organic_section{
        margin: 50px 0;
    }
   .organic_img img{
       height: 80%;
   }
   #FAQ_div{
       padding-top: 100px;
   }
    
 }

 @media only screen and (max-width:768px){
   .container{
       max-width:720px;
   }
   img{
       width: 40px;
       height: 40px;
   }
   .img_animation{
       animation: none;
   }
   header{
       height: 70px;
   }
   @keyframes header_animation{
    from{ height: 70px;}
    to{ height: 60px;}
}
  .header_animation{
    animation:header_animation 2s ;
    height: 60px;
    transition-duration: 2000ms;
}
   .header ul{
       margin-left: 50px;
   }
   .header ul li{
       margin-right: 10px;
   }
    header .social{
       margin-right: 10px;
   }
   a{
    font-family: monospace;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 15px;
   }
   i{
    margin-right: 0px;
}
.fa-chevron-down{
    margin-left:0;
}

/* user inpormation  */
.main{
    height: 350px;
}
#aside{
    margin-top: 150px;
}
.section_user{
    top: 70px;
}
.user_info{
    width: 40%;
}
.user_info h2{
   font-size: 20px;
   letter-spacing: 1px;
}
.user_info h4{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 5px;
}
.user_info h4 span{
    width: 70px; 
    padding-left: 5px;
}
#reset{
    padding: 1px 10px;
    letter-spacing: 2px;
}

/*////================= form  */
form{
   width: 230px;
}
button{
    font-size: 15px;
    letter-spacing: 1px;
    padding: 2px 5px;
}
input{
    font-size: 12px;
    width: 130px;
    margin-left: 0;
}
input:focus{
    font-size: 10px;
}
label{
    letter-spacing: 0px;
    margin-top: 10px;
    font-size: 15px;
}
.banner_text h1{
    font-size: 25px;
    line-height: 40px;
    width: 100%;
}
.organic_section{
    margin: 50px 0 10px;
}
/*============== product section */
.product_content{
    width: 40%;
    margin-bottom: 50px;
    transition: .5s;
}

   /*===================== accordion */

   .accordion {
    padding: 15px;
    font-size: 17px;
    word-spacing: 5px;
  }
  .panel {
    line-height: 50px;
  }
  .del_QS{
     right: 20px;
     font-size: 40px;
  }
      /*=============== poster text */

      .poster{
        margin: 50px 0;
        line-height: 50px;
        letter-spacing: 4px;
        word-spacing: 8px;
    }
    .poster_span{
        font-size: 35px;
    }
     /* ================contact section */
 .contact{
    margin-top: 50px;
}
 }
@media only screen and (max-width:576px){
    .container{
    max-width: 530px ;
    }
    .header{
        height: 60px;
    }
    .header ul{
        display: none;
    }
    .fa-chevron-down{
        margin-left:2px;
    }
/* user inpormation  */
.main{
    background-image: url(./images/banner.img\(resize\).jpg);
   background-position-x:center ;
   background-position-y: top;
   height: 300px;
}
#aside{
    margin-top: 100px;
}
.user_info{
    width: 50%;
}
 .user_info h2{
    font-size: 17px;
 }
 .user_info h4{
    margin-top: 15px;
    font-size: 15px;
    letter-spacing: .5px;
 }
 /*////================= form  */
form{
    width: 200px;
 }
 button{
     margin-top: 20px;
 }
 input{
     width: 110px;
 }
 /* ======================= services */

.services{
    padding-top: 30px; 
 }
 .service_content{
     padding: 30px 0;
     justify-content: center;
 }
 .img{
   width: 220px;
   height: 220px;
 }
 .img img{
     width: 200px;
     height: 200px;
 }
 .service_text{
    margin-left: 0;
    padding: 20px;
    text-align: center;
 }
 .service_text button{
     width: 40%;
 }
 /* ==============organic section */

.organic_content h2{
    font-size: 20px;
}
.banner_text h1{
    font-size: 22px;
}
 /* =================product section */

.products{
    padding-top: 30px; 
}
.product_header h2{
    font: status-bar;
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    margin: 20px 0;
}
.product_content{
    width: 45%;
    margin-bottom: 30px;
}
.product_content h2{
    font-size: 15px;
}
.product_img img{
    width: 100%;
    height: 150px;
}
  /*=========== FAQ */

 #FAQ_div{
    padding-top: 100px;
}
.accordion{
    font-size: 13px;
}
     /*=============== poster text */

     .poster{
        font-size: 12px;
        margin: 40px 0;
        line-height: 30px;
        letter-spacing: 3px;
        word-spacing: 6px;
    }
    .poster_span{
        font-size: 25px;
    }
     /* ================contact section */
 .contact_section{
    flex-direction: column;
}
.contact_info{
    margin-left: 20px;
}
.contact{
        padding: 20px 0px;
}
.burgerIcon{
    display: block;
}
/*=========== back to top button */
.backToTop{
    bottom: 15px;
    right: 15px;
   }
   .backToTop i{
    font-size: 20px;
  }
 /*================== footer */
 footer{
    height: 70px;
}
header .social{
    margin-right: 50px;
}
.social{
    margin-top: 7px;
}
.footer{
    padding: 5px 0;
    font-size: x-small;
    font-weight: 500;
}
}
@media only screen and (max-width:425px) {
    .container{
        max-width: 380px;
    }
    header{
        height: 60px;
        background-color:rgba(66, 64, 64, 0.685) ;
        backdrop-filter: blur(7px);
    }
    header .social{
        margin-left: 55px;
    }
    @keyframes header_animation{
        from{ height: 60px;}
        to{ height: 50px;}
    }
    .header_animation{
        height: 50px;
    } 
    @keyframes img_animation{
        from{width: 40px; height: 40px;}
        to{width: 30px; height: 30px;}
    }
    .img_animation{
       width: 30px;
       height: 30px;
    }
    .a_animation{
        font-size: 13px;
    }
    .burgerIcon{
        top: 25px;
        right: 20px;
     }
    .burgerIcon_animation{
        top: 17px;
    }
    .main{
        height: 250px;
    }
    #aside{
        margin-top: 75px;
    }
    form{
        width: 220px;
     }
     #submit{
         width: 50%;
     }
     input{
         width: 130px;
     }
    .user_info{
        width: 100%;
        backdrop-filter: blur(10px);
        background-color:rgba(66, 64, 64, 0.815) ;
        transition: .5s;
    }
    #reset{
       margin-left: 50px;
    }
    button:hover{
        letter-spacing: 2px;
        font-weight: 400;
        transform: translateY(-2px);
    }
    .service_text button{
        margin-left: 0;
        width: 50%;
    }
     
 .service_content{
     flex-wrap: wrap;
     justify-content: center;
 }
 .banner_text h1{
     line-height: 30px;
 }
 .organic_content ul{
    width: 300px;
}
.organic_img img{
    height: 180px;
    width: 180px;
}
.organic_content h2{
    width: 250px;
    font-size: 17px;
}
.organic_content p{
    font-size: 12px;
    width: 200px;
}
  /* =================product section */

.product_content{
    width: 70%;
}
.product_content h2{
    font-size: 17px;
}
.product_img img{
    height: 150px;
    width: 200px;
}
.service_text{
    width: 80%;
}
    
}
@media only screen and (max-width:375px){
    .container{
        width: 340px;
    }
    .product_content{
        height: 400px;
    }
    .organic_img img{
        height: 160px;
        width: 160px;
    }
    #burgerIcon{
        right: 20px;
    }
    #aside{
        margin-top: 70px;
    }
    .user_info{
        width: 100%;
    }
    #reset{
        margin-left: 60px;
    }
    #submit{
        margin-top: 10px;
    }
    .contact_info h5{
        letter-spacing: 0;
    }
}
@media only screen and (max-width:320px){
    .container{
        max-width: 290px;
    }
    header .social{
        margin-right: 40px;
    }
    #aside{
        margin-top: 55px;
    }
    #reset{
        margin-left: 50px;
    }
   .product_content{
        width: 90%;
        height: 380px;
}  
} 
